@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #0080ff;
  width: 550px;
  max-width: 100%;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  margin-bottom: 5px;
}

.form-control input {
  border: 0.5px solid #f0f0f0;
  background-color: #0080ff;
  display: block;
}
